.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
}

header {
  clear: both;
  margin-bottom: 0;
  background-color: #03a3df;
  padding: 50px;
  text-align: center;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  position: static;
}

body {
  font-family: Arial, sans-serif;
  font-size: 17px;
}

footer {
  clear: both;
  margin-bottom: 0;
  text-align: center;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
}

section {
  float: left;
  width: 90%;
  padding:50px;
  margin: 5px 50px;
}

aside {
  float: right;
  width: 35%;
  margin: 5px 50px;
}

video {
  margin-left: 50vw;
  transform: translate(-50%);
}
